/* Start coding here */
.container {
    height: calc(100vh - 100px); 
    background-color: lightgrey; 
    padding: 50px;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
}

.box-1 {
    flex: 1; /*1/4 ส่วน */
    background-color: orange;
}

.box-2 {
    flex: 1; /* 1/4 ส่วน */
    background-color: khaki;
}

.box-3 {
    flex: 2; /* 2/4 ส่วน */
    background-color: cornflowerblue;
}
